/* @import "./config/valuable"; */
/*------------------------------
about
------------------------------*/
.about-title {
  padding-top: 60px;
  padding-bottom: 40px;
  font-size: 30px;

  @include mq(sm) {
    padding-bottom: 20px;
    font-size: 25px;
  }
}

.about-item {
  display: flex;
  justify-content: space-between;

  @include mq(sm) {
    flex-direction: column;
    margin-bottom: 80px;
  }

  img {
    width: 49%;
    height: auto;

    @include mq(sm) {
      width: 100%;
    }
  }

  p {
    width: 49%;
    text-align: left;
    line-height: 22px;
    letter-spacing: 2px;

    @include mq(sm) {
      margin-top: 10px;
      width: 100%;
      font-size: 13px;
      line-height: 20px;
    }
  }
}
