/*------------------------------
header
------------------------------*/
header {
  line-height: 30px;
  padding: 20px 0;

  .header-left {
    float: left;
    font-size: 25px;

    @include mq(sm) {
      float: none;
      margin-bottom: 10px;
      font-size: 25px;
    }
  }

  .header-right {
    float: right;

    @include mq(sm) {
      float: none;
      width: 100%;
      font-size: 15px;
    }
  }

  .header-list {
    @include mq(sm) {
      display: flex;
      justify-content: space-between;
    }
  }

  .header-item {
    float: left;
    margin-left: 40px;

    @include mq(sm) {
      float: none;
      margin: 0;
    }
  }

  .header-about:hover {
    opacity: 0.7;
  }

  .header-course {
    display: flex;
    flex-direction: column;
  }

  .header-course-switch:hover {
    opacity: 0.7;
  }

  .header-drawer {
    display: none;
    border: 2px solid rgb(66, 64, 64);
    border-radius: 30px;
    margin-top: 5px;
  }
}
